# ==============================================================================
# Application Configuration Template (Spring Boot)
# ==============================================================================
SERVER_PORT=8080

# Database
POSTGRES_DB=video
POSTGRES_USER=postgres
POSTGRES_PASSWORD=P4ssword!
JDBC_DATABASE_URL=jdbc:postgresql://localhost:5432/video
JDBC_DATABASE_USERNAME=postgres
JDBC_DATABASE_PASSWORD=P4ssword!

# Keycloak (SSO)
KEYCLOAK_URL=http://localhost:9091
KEYCLOAK_REALM=videoclub
KEYCLOAK_CLIENT_ID=videoclub-frontend
KEYCLOAK_BACKEND_CLIENT_ID=videoclub-backend
KEYCLOAK_BACKEND_CLIENT_SECRET=dstNSsANvqlaGfZCJa1mcYzP1EBAYP4N

# RabbitMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASS=rabbitmq
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_EXCHANGE=keycloak.events
